// Color scheme
// $background-color   : #26547C;
// $primary-color      : #06D6A0; 
// $secondary-color    : #EF476F; 
// $text-color         : #FCFCFC; 
// $faded-color        : #FFD166;

// $background-color   : #009FB7;
// $primary-color      : #FE4A49; 
// $secondary-color    : #FED766; 
// $text-color         : #F4F4F8; 
// $faded-color        : #E6E6EA;

// $background-color   : #092327;
// $primary-color      : #00A9A5; 
// $secondary-color    : #4E8098; 
// $text-color         : #90C2E7; 
// $faded-color        : #0B5351;

$background-color   : #102542;
$primary-color      : #F87060; 
$secondary-color    : #CDD7D6; 
$text-color         : #FFFFFF; 
$faded-color        : #B3A394;

// The max width of the main text container
$container-width: 960;

$base-font-size: 20;